@media only screen and (max-width: 600px) {
  .mare {
    height: 400px;
    width: 400px;
  }
  .centru {
    position: absolute;
    top: 60%;
  }
  .rowcenter {
    display: none;
  }
  .footer {
    position: absolute;
    bottom: 100%;
  }
  .rowoverfl {
    height: 60%;
  }
  .sectionup {
    height: 200vh;
  }
  .bigrow {
    height: 200vh;
  }
}
.bigrr {
  height: 100vh;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .bigrr {
    height: 400vh;
    margin: 0 auto !important;
    width: 390px;
  }
}
@media only screen and (max-width: 600px) {
  .col-md-6.noh {
    height: 400px !important;
  }
  .cancelh {
    height: 39% !important;
  }
  .cancelh1 {
    position: absolute;
    bottom: 800px;
    height: 37% !important;
  }

  .containerbig {
    height: 700px !important;
  }
  .htwo {
    height: 200px;
  }

  #ftrpos {
    position: absolute;
    bottom: 0%;
    width: 500px !important;
  }
  .logocinema {
    width: 388px;
  }
  html {
    overflow-x: hidden;
  }
}
