@font-face {
  font-family: myFirstFont;
  src: url(/fonts/MazzardL-Medium.otf);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'myFirstFont';
}

@media (min-width: 1000px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
}

.navbar-nav {
  width: 700px;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}
.navbar {
  background-color: white;
}
.navbar-nav .nav-item .nav-link {
  padding: 20px 50px;
  transition: all 1s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #3a6bf5;
  border-radius: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
  color: #00284c;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  height: 600px;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir='rtl'] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir='rtl'] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
/* FOOTER */
.footer__container {
  padding: 3rem 0 7rem;
  text-align: center;
}
.footer__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}
.footer__list,
.footer__social {
  display: flex;
  justify-content: center;
}
.footer__list {
  margin: 2.5rem 0;
  column-gap: 2.5rem;
  list-style: none;
}
.footer__link {
  color: var(--title-color);
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__social {
  column-gap: 1.25rem;
}
.footer__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform 0.3s;
}
.footer__social-link:hover {
  transform: translateY(-0.15rem);
}
.footer__copy {
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.logocinema {
  width: 500px;
  height: 200px;
  margin: auto;
  background-image: url(/images/Screenshot_1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 400px) {
  .logocinema {
    width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .logoc {
    width: 280px !important;
  }
  .logocinema {
    width: 388px;
  }
  .swiper-slide {
    height: 100px;
    width: 100%;
  }
  .sec {
    height: 600px !important;
  }
  .textpad {
    padding: 0 !important;
  }
}
